{
    "version" : "2018-05-29",
    "operation" : "PutItem",
    "key": {
      "PK": { "S": "user#$context.identity.sub" },
      "SK": { "S": "alert#$util.autoId()" }
    },
    "attributeValues" : {
      "alertType": { "S": "$ctx.args.updateAlertInput.alertType" },
      "updateOrNew": { "S": "$ctx.args.updateAlertInput.updateOrNew" },
      "joinParametersWith": { "S": "$ctx.args.updateAlertInput.joinParametersWith" },
      "parameters": { "S": "$ctx.args.updateAlertInput.parameters" }
    }
}