{
  "version": "2018-05-29",
  "operation": "UpdateItem",
  "key": {
    "PK": { "S": "user#$ctx.identity.sub" },
    "SK": { "S": "info" }
  },
  "update": {
    "expression": "set awsPassword = :awsPassword",
    "expressionValues": {
      ":awsPassword": { "S": "$ctx.args.awsPassword" }
    }
  }
}
